* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
    background-color: oklch(1 0 0);
}

#logo {
    margin-top: 10px;
    height: 50px;
    width: 100px;
}


a {
    text-decoration: none;
    color: oklch(0.2974 0.0362 281.74);
    font-size: 14px;
    font-weight: 300;
}


#search-bar {
    position: relative;
    height: 50px;
    width: 1050px;
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: none;
    z-index: 1;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 200;
    
}
#search-bar:focus{
    outline: none;
    border: 2px solid oklch(0.4841 0.2342 293.93);
}

#search-icon{
    position: absolute;
    z-index: 2;
    margin-top: 14px;
    margin-left: 8px;
    font-size: 23px;
}

.login{
    height: 40px;
    width: 80px;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid oklch(0.4841 0.2342 293.93);
    color: oklch(0.4841 0.2342 293.93);
}

.signup{
    height: 40px;
    width: 80px;
    font-weight: 800;
    background-color: oklch(0.4841 0.2342 293.93);
    color: oklch(1 0 0);
    border-radius: 5px;
}

.globe{
    height: 40px;
    width: 40px;
}